
  ul {
    list-style-type: none;
    padding: 0;
  }
  .li-item {
    
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin: 2rem;
  }

  .li-item:hover{
    background-color: #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
  }

  
