
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li{
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 0 0.1rem;
    padding: 0.4rem;
    cursor: pointer;
    font-weight: bold;
}

.pagination li.active{
    background-color: #204080;
    color: white;
    border: none;
}
.pagination button:disabled,
  button:disabled:hover,
  button:disabled:active {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
  }

  .pagination li button{
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: bold;

}
